
.calculator{
    border-radius: 7px;
    width: 200px;
    border: 5px solid rgb(236, 19, 19);
    color: white;
    background: #000;
}
body{
    background: #b9a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin: 0;
}

.input{
    margin: 14px;
    width: 85%;
    font-size: 50px;
}
.but{
height: 40px;
width: 45px;
margin: 3px;
font-size: 30px;
color: rgba(19, 1, 99, 0.747);
}
.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#display{
height: 40px;
border-color: red;
margin: 10px 0;
}